<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html">

<dom-module id="sigespai-investigador-proyecto-detalle">
    <template>
        <style include="bootstrap4-styles">
            :host {
                display: block;
                padding: 2rem 5rem;
            }

            .grid-datos>div {
                padding: 1rem 0.5rem;
            }

            .codigos {
                grid-column: span 2;
            }

            .negritas {
                font-weight: bold;
            }

            .grid {
                display: grid;
                grid-template-columns: 2fr 1fr;
            }

            .grid-datos {
                display: grid;
                font-size: 1.7rem;
                grid-template-columns: 12rem 3rem 3fr;
            }

            @media screen and (max-width: 950px) {
                .grid {
                    grid-template-columns: 1fr;
                }
                .codigos {
                    grid-column: span 1;
                }
            }
        </style>

        <iron-ajax auto url="{{url}}" handle-as="json" last-response="{{datosProyecto}}"></iron-ajax>

        <iron-ajax auto url="{{urlCodigos}}" handle-as="json" last-response="{{codigosProyecto}}"></iron-ajax>

        <div class="card bg-light " style="margin-bottom: 15px; margin-top: 15px; padding: 10px;">Proyecto: [[datosProyecto.idProyecto]] - [[datosProyecto.nombreProyecto]]</div>

        <div class="grid">

            <div class="grid-datos">
                <div>No. oficio</div>
                <div class="negritas">:</div>
                <div>[[datosProyecto.noOficio]]</div>
                <div>Folio SEP</div>
                <div class="negritas">:</div>
                <div>[[datosProyecto.folioSEP]]</div>
                <div>Centro gestor</div>
                <div class="negritas">:</div>
                <div>[[datosProyecto.centroGestor]]</div>
                <div>Fecha inicio</div>
                <div class="negritas">:</div>
                <div>[[datosProyecto.fechaInicio]]</div>
                <div>Fecha fin</div>
                <div class="negritas">:</div>
                <div>[[datosProyecto.fechaFin]]</div>
            </div>

            <div class="grafica">
                <div id="gf" class="gf" style="height: 300px; max-height: 300px;"></div>
            </div>

            <div class="codigos">
                <template is="dom-if" if="{{codigosProyecto}}">
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <th style="text-align: center;">Centro gestor</th>
                            <th style="text-align: center;">Elemento PEP</th>
                            <th style="text-align: center;">Monto asigando</th>
                            <th style="text-align: center;">Ejercido</th>
                            <th style="text-align: center;">Comprobado</th>
                            <th style="text-align: center;">Saldo</th>
                            <th style="text-align: center;">Rubro</th>
                            <th style="text-align: center;">Justificación</th>
                        </tr>
                        <template is="dom-repeat" items="{{codigosProyecto}}">
                            <tr>
                                <td>[[item.Centro_Gestor]]</td>
                                <td>[[item.Elemento_PEP]]</td>
                                <td>[[item.Asignado]]</td>
                                <td>[[item.Ejercido]]</td>
                                <td>[[item.Comprobado]]</td>
                                <td>[[item.Saldo]]</td>
                                <td>[[item.Rubro]]</td>
                                <td>[[item.Justificacion]]</td>
                            </tr>
                        </template>
                    </table>
                </template>
            </div>

        </div>
    </template>

    <script>
        class SigespaiInvestigadorProyectoDetalle extends Polymer.Element {
            static get is() { return 'sigespai-investigador-proyecto-detalle'; }
            static get properties() {
                return {
                    idProyecto: String,
                    codigosProyecto: Array,
                    datosProyecto: {
                        type: Object,
                        observer: '_grafica'
                    },
                    url: {
                        type: String,
                        computed: '_getURL(idProyecto)'
                    },
                    urlCodigos: {
                        type: String,
                        computed: '_getUrlCodigos(idProyecto)'
                    }
                };
            }
            _getURL(idProyecto) {
                return 'https://intranet1.ugto.mx/Sigespai/Consultas/findProyectoByIdProyecto/' + idProyecto;
            }
            _getUrlCodigos(idProyecto) {
                return 'https://intranet1.ugto.mx/Sigespai/Consultas/findCodigosByIdProyecto/' + idProyecto;
                //return 'http://localhost:51291/Consultas/findCodigosByIdProyecto/' + idProyecto;
            }
            _grafica() {
                if (this.datosProyecto != null && this.datosProyecto != undefined) {
                    var array = [
                        { "Descripción": "Saldo", "Total": [[this.datosProyecto.saldo]], "color": '#4d8c84' },
                        { "Descripción": "Ejercido", "Total": [[this.datosProyecto.montoEjercido]], "color": '#994d4d' },
                        { "Descripción": "Devengado", "Total": [[this.datosProyecto.montoDevengado]], "color": '#e19b33' }
                    ];
                    var chart = AmCharts.makeChart(this.$.gf, {
                        "type": "pie",
                        "language": "es",
                        "theme": "none",
                        "titles": [{
                            "text": "Saldos"
                        }],
                        "startDuration": 2,
                        "dataProvider": array,
                        "valueField": "Total",
                        "titleField": "Descripción",
                        "labelText": "[[title]]: $ [[value]]",
                        "colorField": "color",
                        "outlineAlpha": 0.4,
                        "depth3D": 15,
                        "balloonText": "[[title]]<br><span style='font-size:14px'><b>$ [[value]]</b> ([[percents]]%) </span>",
                        "angle": 30
                    });

                    setTimeout(function () {
                        var elements = document.getElementsByClassName("amcharts-export-menu");
                        for (var i = 0, length = elements.length; i < length; i++) {
                            elements[i].style.display = "none";
                        }
                    }, 2000);
                }
            }

        }

        window.customElements.define(SigespaiInvestigadorProyectoDetalle.is, SigespaiInvestigadorProyectoDetalle);
    </script>
</dom-module>